.App{
  width: 100%;
  overflow-x: hidden;
}

.button {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: fit-content;
  align-items: center;
  color: #ffffff !important;
  padding: 13px 27px;
  background: linear-gradient(135deg, #64AAE3 0%, #1B4C96 100%);
  box-shadow: 1px 3px 4px rgba(145, 158, 171, 0.35);
  border-radius: 10px;
  border: none;
  /* border: 1px solid black; */
  cursor: pointer;
}

a.button {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: fit-content;
  align-items: center;
  color: #ffffff !important;
  padding: 13px 27px;
  background: linear-gradient(135deg, #64AAE3 0%, #1B4C96 100%);
  /* background: linear-gradient(135deg, #64AAE3 0%, #1B4C96 100%); */
  box-shadow: 1px 3px 4px rgba(145, 158, 171, 0.35);
  border-radius: 10px;
  outline: none !important;
  border: none;
  /* border: 1px solid black; */
  cursor: pointer;
}

.footer{
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #eee;
  top: 90%;
  align-items: center;
  justify-content: space-around;
}

.footer a.whiteBtn {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: fit-content;
  align-items: center;
  color: #3684D1;
  padding: 13px 0;
  width: 35%;
  justify-content: center;
  background: transparent;
  box-shadow: 1px 3px 4px rgba(145, 158, 171, 0.35);
  border-radius: 10px;
  border: 1px solid #3684D1;
  text-decoration: none;
  cursor: pointer;
}

.footer button.blackBtn{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: fit-content;
  align-items: center;
  color: #fff;
  padding: 13px 0;
  width: 55%;
  justify-content: center;
  background: black;
  background: linear-gradient(135deg, #64AAE3 0%, #1B4C96 100%);
  border-radius: 10px;
  border: none;
  /* border: 1px solid black; */
  text-decoration: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

.slickNext {
  position: absolute;
  display: block !important;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 45%;
  transform: translate(0, -45%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  right: -25px;
}

.slickNext img{
  width: 40px !important;
  height: 40px !important;
}

.slickPrev {
  position: absolute;
  display: block !important;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 45%;
  transform: translate(0, -45%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  left: -43px;
}

.slickPrev img{
  width: 40px !important;
  height: 40px !important;
}

.footer button.button{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  height: fit-content;
  align-items: center;
  color: #ffffff;
  padding: 13px 27px;
  background: #000000;
  box-shadow: 1px 3px 4px rgba(145, 158, 171, 0.35);
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .footer{
    display: flex !important;
  }
}